<!DOCTYPE html>
<html>
  <head>
    <title>Register Data</title>
    <link rel="stylesheet" href="fetchData.css" />
  </head>
  <body>
    <h1>Register Data</h1>
    <table id="data-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Tel</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="button-container">
      <button class="button" id="leaveButton">Leave</button>
      <button class="button" id="attendanceButton">Attendance</button>
    </div>

    <script>
      fetch("http://localhost:8080/registerDB")
        .then((response) => response.json())
        .then((data) => {
          const dataBody = document.querySelector("#data-table tbody");
          data.forEach((item) => {
            const row = document.createElement("tr");
            const name = document.createElement("td");
            const lastName = document.createElement("td");
            const email = document.createElement("td");
            const tel = document.createElement("td");

            name.textContent = item.name;
            lastName.textContent = item.namelast;
            email.textContent = item.email;
            tel.textContent = item.tel;

            row.appendChild(name);
            row.appendChild(lastName);
            row.appendChild(email);
            row.appendChild(tel);

            dataBody.appendChild(row);
          });
        })
        .catch((error) => {
          console.error("Error fetching data:", error);
        });

      const leaveButton = document.getElementById("leaveButton");
      leaveButton.addEventListener("click", () => {
        window.location.href = "/leave";
      });

      const attendanceButton = document.getElementById("attendanceButton");
      attendanceButton.addEventListener("click", () => {
        window.location.href = "/attendence";
      });
    </script>
  </body>
</html>
